@model OdeToFood.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h2>@ViewBag.Message</h2><br>
<h3>@Model.Name</h3>

<p>Use this area to provide additional information.</p>
<div>@Model.Location</div>